<section>
    <div class="jumbotron">
        <p>This is a plug-and-play Flask app that's meant to be a starting point for your own app.
        The app has code written to do the following:</p>
        <ul>
            <li>Authenticate a user on Venmo with the server-side OAuth flow</li>
            <li>Make a <b>real</b> payment on the Venmo api by issuing a HTTP POST request</li>
            <li>Get a list of the user's recent transactions by issuing a HTTP GET request</li>
            <li>Keep track of an authenticated user via sessions</li>
        </ul>
    </div>
</section>
